#set_io creset_n 8
#set_io cdone 7

# Memory (1.8V)
set_io mem_sio[0] 	14
set_io mem_sio[1] 	17
set_io mem_sck 		15
set_io sram_ssn 	6
set_io flash_ssn	16
set_io mem_sio[3] 	19
set_io mem_sio[2] 	18

# Host interface, programmable IO
set_io host_sck_uart_rx 	44
set_io host_mosi_uart_tx 	4

set_io host_sck 	44
set_io host_ssn 	3
set_io host_mosi	4
set_io host_miso 	2
set_io host_intr 	45
set_io gpio[0] 		46
set_io gpio[1] 		47
set_io gpio[2] 		48

# Imager and sensors (1.8V) SPI
set_io sensor_sck 	10
set_io sensor_mosi 	12
set_io sensor_miso 	11
set_io imager_ssn 	35
set_io imu_ssn 		23
set_io imu_intr 	9

# Microphone
set_io mic_clk 		21
set_io mic_ws 		13
set_io mic_dout 	20

# Imager
set_io sensor_clk 	42
set_io px_clk 		43
set_io px_fv 		25
set_io px_lv 		26
set_io pxd[7] 		38
set_io pxd[6] 		34
set_io pxd[5] 		37
set_io pxd[4] 		32
set_io pxd[3] 		36
set_io pxd[2] 		27
set_io pxd[1] 		28
set_io pxd[0] 		31

# On board LED
set_io led_red 		39
set_io led_green 	40
set_io led_blue 	41
set_io sensor_led 	23
